# Ignorer les environnements virtuels
.venv/
venv/
env/

# Ignorer les fichiers de cache Python
__pycache__/
*.pyc

# Ignorer les fichiers de cache
galaxy_cache.parquet
responses_cache.parquet

# Ignorer les fichiers .env
.env
.env.local