#Ignore the virtual environment directories
venv/
env/

# Ignore the build directories
__pycache__/
*.pyc

# Ignore cache files
galaxy_cache.parquet
responses_cache.parquet
galaxy_explorer.db

# Ignore .env files
.env
.env.local