/* global layout of the dashboard */
.dashboard-container {
  display: flex;
  width: 100%;
  height: 100%;
}

/* Main content area */
.main-content {
  flex: 1;
  display: flex;
  flex-direction: column;
  padding: 24px;
  gap:24px;
  overflow: auto;
}

.stats-row {
  display: flex;
  gap: 24px;
  width: 100%;
  justify-content: center;
}

.stat-card {
  flex: none;
  width: 200px;
  background-color: var(--bg-card);
  border-radius: 15px;
  padding: 20px;
  margin: 20px;
  box-shadow: var(--shadow);
  display: flex;
  flex-direction: column;
  gap: 12px;

}

.stat-card-header {
  display: flex;
  align-items: center;
  gap: 12px;
  
}

.stat-card-icon {
  display: flex;
  align-items: center;
  justify-content: center;
  width : 40px;
  height: 40px;
  border-radius: 10px;
  font-size: 2rem;
  font-weight: bold;
}

.stat-card-title {
  color: var(--text);
  font-size: 1.2rem;
  font-weight: 600;
}

.stat-card-value {
  color: var(--text-h);
  font-size: 1.8rem;
  font-weight: 700;
  text-align: left;
}

.sidebar-placeholder {
  width : 280px;
  background-color: var(--bg-card);
  box-shadow: var(--shadow);
  border-radius: 0px 0px 0px 15px;
  
}

.content-grid {
  flex: 1;
  background-color: var(--bg-card);
  box-shadow: var(--shadow);
  border-radius: 15px;
  height: 100%;
}
